qr-code {
    .content-md{
       height: 80px;
       // padding: 35px 0px !important;
    }
    .scroll-content{
        overflow-x: hidden; 
        overflow-y: hidden;
    }
    .hide{
        display: none;
    }
}
