<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content center text-center padding>
    <ion-grid id="loginContent">
        <ion-row>
              <ion-col>
                    <h1 text-uppercase no-padding no-margin id="logo">Project-A-Star</h1>
                    
              </ion-col>
        </ion-row>
        <ion-row *ngIf="!firstLogin">
                <button id="loginBtn" ion-button (click)="googleLogin()">Login with Google</button>
        </ion-row>
        <ion-row *ngIf="firstLogin">
            <form #firstLoginForm="ngForm">
                  <ion-input required [(ngModel)]="username" placeholder="Enter Username" name="username" [ngClass]="(invalid == true) ? 'invalid' : ''"></ion-input>
                  <ion-input required [(ngModel)]="ninernetID" placeholder="Enter Ninernet ID" name="ninernetID" [ngClass]="(invalid == true || ninernetValidation == false) ? 'invalid' : ''"></ion-input>
            </form>
            <button id="SubmitBtn" ion-button (click)="firstSignIn()">Submit</button>
        </ion-row>
  </ion-grid>
  
</ion-content>


