page-login {
    .text-input{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 15px 5px;
        margin-bottom: 25px;
        border-bottom: 1px solid #686e11;
      }
      
      .text-input:focus{
        border-bottom: 1px solid #c4cf1e;
      }
}

ion-grid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loginContent{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
}


ion-row:first-of-type{
    margin-bottom: 50px;
}

ion-row{
    width:100%;
    margin: 0px;
}

#logo{
    font-size: 5.5vw;
    margin-bottom: 20px;
}

form{
    margin: auto;
    width: 450px;
}



#loginBtn{
    position: absolute;
    padding: 15px !important;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
}

#SubmitBtn{
    position: absolute;
    padding: 15px !important;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #686e11;
}

#SubmitBtn:hover{
    border: 1px solid #808813;
}

.hr {
    border-bottom: 1px solid #ccc;
    margin: auto;
    width: 80%;
    margin-top: 40px; 
}

@media screen and (max-width: 750px) {
    #logo {
       font-size: 40px;
    }
}

@media screen and (min-width: 1200px) {
    #logo {
       font-size: 70px;
    }
}