page-event-details {
    h1{
        font-size: 35px;
        text-align: center;
        padding-top: 30px;
        margin-bottom: 20px;
    }
    h3{
        font-size: 22px;
        text-align: center;
        padding: 25px 25px;
    }
    .text-input{
        padding: 15px 5px;
        margin-bottom: 25px;
        border-bottom: 1px solid #686e11;
      }
      
      .text-input:focus{
        border-bottom: 1px solid #c4cf1e;
      }
}
