page-event-details {
    h1{
        font-size: 35px;
        text-align: center;
        padding-top: 30px;
        margin-bottom: 20px;
    }
    h3{
        font-size: 22px;
        text-align: center;
        padding: 25px 25px;
    }
}
