page-create-event {
    
    #form-area{
        height: 90%;
        margin: 0px;
        max-height: 88%;
        overflow: scroll;
        overflow-x: hidden;
    }

    .toolbar-content-md .button{
        background-color: rgb(179, 163, 105) !important;
        color: white;
    }

    .hide{
        display: none;
    }
    #submit-area{
        margin: 0px;
        height: 5%;
        button{
            margin:30px auto;
            display:block;
            min-width: 150px;
            border-radius: 50px;
        }
    }
    ion-title{
        margin-top:10px;
    }
    ion-navbar *{
        display: inline-block;
    }
    ion-navbar button{
        float: right;
    }

    .card-header *{
        color: white;
    }

    .card-md{
        max-width: 600px;
        margin: auto;
        margin-bottom: 15px;
    }
    .text-input{
        padding: 15px 5px;
        margin-bottom: 25px;
        border-bottom: 1px solid #686e11;
      }
      
      .text-input:focus{
        border-bottom: 1px solid #c4cf1e;
      }
    
      #eventInfo{
          margin-top: 30px;
          h1{
            text-align: center;
            margin-top: 25px;
            
          }
        
        
        .card-header-md{
            padding: 0px;
            margin: 0px;
        }
      }
}

